<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <f:flashMessages />
    <f:comment>
        <!-- Render pages -->
        <f:if condition="{lib.tx_ku_swiper_pages !== ''}">
            <f:cObject typoscriptObjectPath="lib.tx_ku_swiper_pages" data="{data}" />
        </f:if>
    </f:comment>
    <f:if condition="{records}">
        <f:variable name="swiper" value="swiper{data.uid -> f:format.raw()}" />
        <f:variable name="totalcount" value="{records -> f:count()}" />

        <div class="swiper-container {swiperNavigation}">
            <div class="swiper swiper{data.uid} {flexFormData.settings.slideshowHeight} {flexFormData.settings.sliderStyle}" data-id="{swiper}" data-slides='{swiperConfiguration -> f:format.json()}'>
                <div class="swiper-wrapper">
                    <f:for each="{records}" as="record">
                        <f:render partial="SlideContent" arguments="{_all}" />
                    </f:for>
                </div>
            </div>
            <div class="{swiper}-next swiper-button-next"></div>
            <div class="{swiper}-prev swiper-button-prev"></div>
            <div class="{swiper}-dots swiper-pagination"></div>
            <f:if condition="{flexFormData.settings.autoplay} === '1' && {totalcount} > 1">
                <button aria-label="{f:translate(key: 'pause', extensionName: 'ku_swiper')}" class="btn play-pause-button" type="button"><span class="bi bi-pause-fill" aria-hidden="true"></span></button>
            </f:if>
        </div>
        <f:render partial="JavaScriptTranslations" arguments="{_all}" />
    </f:if>
    <f:if condition="{lib.swiper.pagecss !== ''}">
        <f:asset.css identifier="swiperCSS" href="{f:cObject(typoscriptObjectPath: 'lib.swiper.pagecss')}" />
    </f:if>
    <f:if condition="{lib.swiper.pagejs !== ''}">
        <f:asset.script identifier="swiperJs" src="{f:cObject(typoscriptObjectPath: 'lib.swiper.pagejs')}" />
    </f:if>
</f:section>

</html>