<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <f:flashMessages />

    <f:if condition="{records}">
        <f:variable name="swiper" value="swiper{data.uid -> f:format.raw()}" />
        <f:variable name="totalcount" value="{records -> f:count()}" />
        <f:comment>
            <!--
              Below: Function settings
          -->
        </f:comment>
        <f:if condition="{flexFormData.settings.fade} === '1'">
            <f:then>
                <f:variable name="fade">"fade", "fadeEffect": { "crossFade": true }</f:variable>
            </f:then>
            <f:else>
                <f:variable name="fade">"slide"</f:variable>
            </f:else>
        </f:if>
        
        <div class="swiper-container {swiperNavigation}">
            <div class="swiper swiper{data.uid} {flexFormData.settings.slideshowHeight} {flexFormData.settings.sliderStyle}" data-id="{swiper}" data-slides='{swiperConfiguration -> f:format.json()}'>
                <div class="swiper-wrapper">
                    <f:for each="{records}" as="record">
                        <f:render partial="SlideItems" arguments="{_all}" />
                    </f:for>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <f:if condition="{flexFormData.settings.autoplay} === '1' && {totalcount} > 1">
                <button aria-label="{f:translate(key: 'pause', extensionName: 'ku_swiper')}" class="btn play-pause-button" type="button"><span class="bi bi-pause-fill" aria-hidden="true"></span></button>
            </f:if>
        </div>
        <f:render partial="JavaScriptTranslations" arguments="{_all}" />
    </f:if>
    <f:if condition="{lib.swiper.pagecss !== ''}">
        <f:asset.css identifier="swiperCSS" href="{f:cObject(typoscriptObjectPath: 'lib.swiper.pagecss')}" />
    </f:if>
    <f:if condition="{lib.swiper.pagejs !== ''}">
        <f:asset.script identifier="swiperJs" src="{f:cObject(typoscriptObjectPath: 'lib.swiper.pagejs')}" />
    </f:if>
</f:section>

</html>