<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <f:flashMessages />

    <f:debug>{swiperConfiguration -> f:format.json()}</f:debug>

    <f:if condition="{records}">
        <f:variable name="swiper" value="swiper{data.uid -> f:format.raw()}" />
        <f:variable name="totalcount" value="{records -> f:count()}" />
        <f:comment>
            <!--
              Below: Function settings
          -->
        </f:comment>
        <f:if condition="{flexFormData.fade} === '1'">
            <f:then>
                <f:variable name="fade">"fade", "fadeEffect": { "crossFade": true }</f:variable>
            </f:then>
            <f:else>
                <f:variable name="fade">"slide"</f:variable>
            </f:else>
        </f:if>

        <f:comment>
            <!--
              Below: CSS classes to show/hids arrows and dots
          -->
        </f:comment>
        <f:if condition="{flexFormData.arrows-smartphone -> f:format.raw()} === '0'">
            <f:variable name="nav-sm" value="hide-navigation-sm" />
        </f:if>

        <f:if condition="{flexFormData.arrows-tablet -> f:format.raw()} === '0'">
            <f:variable name="nav-md" value="hide-navigation-md" />
        </f:if>

        <f:if condition="{flexFormData.arrows-desktop -> f:format.raw()} === '0'">
            <f:variable name="nav-lg" value="hide-navigation-lg" />
        </f:if>

        <f:if condition="{flexFormData.arrows-widescreen -> f:format.raw()} === '0'">
            <f:variable name="nav-xl" value="hide-navigation-xl" />
        </f:if>

        <f:if condition="{flexFormData.dots-spartphone -> f:format.raw()} === '0'">
            <f:variable name="pag-sm" value="hide-pagination-sm" />
        </f:if>

        <f:if condition="{flexFormData.dots-tablet -> f:format.raw()} === '0'">
            <f:variable name="pag-md" value="hide-pagination-md" />
        </f:if>

        <f:if condition="{flexFormData.dots-desktop -> f:format.raw()} === '0'">
            <f:variable name="pag-lg" value="hide-pagination-lg" />
        </f:if>
        <f:if condition="{flexFormData.dots-widescreen -> f:format.raw()} === '0'">
            <f:variable name="pag-xl" value="hide-pagination-xl" />
        </f:if>
        
        <div class="swiper-container {nav-sm} {nav-md} {nav-lg} {nav-xl} {pag-sm} {pag-md} {pag-lg} {pag-xl}">
            <div class="swiper swiper{data.uid} {flexFormData.slideshowHeight} {flexFormData.sliderStyle}" data-id="{swiper}" data-slides='{swiperConfiguration -> f:format.json()}'>
                <div class="swiper-wrapper">
                    <f:for each="{records}" as="record">
                        <f:render partial="SlideItems" arguments="{_all}" />
                    </f:for>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <f:if condition="{flexFormData.autoplay} === '1' && {totalcount} > 1">
                <button aria-label="{f:translate(key: 'pause', extensionName: 'ku_swiper')}" class="btn play-pause-button" type="button"><span class="bi bi-pause-fill" aria-hidden="true"></span></button>
            </f:if>
        </div>
        <f:render partial="JavaScriptTranslations" arguments="{_all}" />
    </f:if>
    <f:if condition="{lib.swiper.pagecss !== ''}">
        <f:asset.css identifier="swiperCSS" href="{f:cObject(typoscriptObjectPath: 'lib.swiper.pagecss')}" />
    </f:if>
    <f:if condition="{lib.swiper.pagejs !== ''}">
        <f:asset.script identifier="swiperJs" src="{f:cObject(typoscriptObjectPath: 'lib.swiper.pagejs')}" />
    </f:if>
</f:section>

</html>